---
name: Scan with Detekt

on:
  # Triggers the workflow on push or pull request events but only for default and protected branches
  push:
    branches: ["master"]
    paths:
      - "src/**"
      - ".github/workflows/detekt.yaml"
      - "detekt.yml"
  pull_request:
    branches: ["master"]
    paths:
      - "src/**"
      - ".github/workflows/detekt.yaml"
      - "detekt.yml"
  schedule:
    - cron: '0 13 * * 6'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "scan"
  scan:
    name: Scan
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v6

      - name: "detekt"
        uses: natiginfo/action-detekt-all@1.23.8
        with:
          args: --config detekt.yml --report sarif:detekt.sarif.json

      # Uploads results to GitHub repository using the upload-sarif action
      - uses: github/codeql-action/upload-sarif@v4
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: ${{ github.workspace }}/detekt.sarif.json
          checkout_path: ${{ github.workspace }}
